<ion-footer class="parent">
  <ion-toolbar>
    <ion-row>
      <ion-col class="child">
      </ion-col>
      <ion-title class="txt-center">Login</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-slides class="new-background-color" pager="true" [options]="slideOpts">
  <ion-slide class="new-background-color">
    <img src="../../assets/imgs/image_1.jpg" style="object-fit: fill;">
  </ion-slide>
  <ion-slide>
    <img src="../../assets/imgs/image_2.jpg" style="object-fit: fill;">
  </ion-slide>
  <ion-slide>
    <img src="../../assets/imgs/image_3.jpg">
  </ion-slide>
  <ion-slide>
    <img src="../../assets/imgs/image_4.jpeg">
  </ion-slide>
  <ion-slide>
    <img src="../../assets/imgs/image_5.jpg">
  </ion-slide>
</ion-slides>

<ion-content>
  <ion-grid>

    <ion-col class="txt-center" style="width: fit-content;">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-input formControlName="email" type="text" required placeholder="Email"></ion-input>
        <br>
        <ion-input formControlName="password" required placeholder="Password" type="Password"></ion-input>
        <br>
        <ion-button class="txt-center" type="submit" color="primary">Login</ion-button>
        <ion-button routerLink='/register' style="border :primary;" color="light">Register</ion-button>
        <br>
        <br>
        <ion-label  color="primary" (click)="resetPass()">Forgot Password? Click here.</ion-label>
      </form>
    </ion-col>
  </ion-grid>
</ion-content>