<ion-footer class="parent">
  <ion-toolbar>
    <ion-row>
      <ion-col class="child">
      </ion-col>
      <ion-title class="txt-center">Login</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-footer>


<ion-content>
  <ion-col>
    <ion-slides  pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="../../assets/imgs/image_1.jpg" width="100%">
      </ion-slide>
      <!-- <ion-slide>
        <img src="../../assets/imgs/image_2.jpg" width="100%" >
      </ion-slide>
      <ion-slide>
        <img src="../../assets/imgs/image_3.jpg" width="100%">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/imgs/image_4.jpg" width="100%">
      </ion-slide>
      <ion-slide>
        <img src="../../assets/imgs/image_5.jpg" width="100%">
      </ion-slide> -->
    </ion-slides>
    
  </ion-col>
  <ion-grid>
    
    <ion-col style="width: fit-content;">
      <form [formGroup]="regForm" (ngSubmit)="login()">
        <ion-input formControlName="email" type="text" required placeholder="Email"></ion-input>
        <br>
        <ion-input formControlName="password" required placeholder="Password" type="Password"></ion-input>
        <br>
        <ion-button class="txt-center" type="submit" color="primary">Login</ion-button>
        <ion-button routerLink='/register' style="border :primary;" color="light">Register</ion-button>
      </form>
    </ion-col>
  </ion-grid>
</ion-content>