<ion-footer class="parent">
  <ion-toolbar>
    <ion-item  slot="start" lines='none'>
      <ion-icon  routerLink="/home/support" name="chevron-back-outline"></ion-icon>
      <ion-title class="txt-center">Terms</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-footer>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title>End-User License Agreement (EULA) of EMS</ion-card-title>
          <ion-card-subtitle>
            This End-User License Agreement ("EULA") is a legal agreement between you and TUT
          </ion-card-subtitle>
          <br>
          <ion-card-subtitle>
            This EULA agreement governs your acquisition and use of our EMS software ("Software") directly from TUT
            or indirectly through a TUT authorized reseller or distributor (a "Reseller").
          </ion-card-subtitle>
          <br>
          <ion-card-subtitle>
            Please read this EULA agreement carefully before completing the installation process and using the EMS
            software. It provides a license to use the EMS software and contains warranty information and liability
            disclaimers.
          </ion-card-subtitle>
          <br>
          <ion-card-subtitle>
            If you register for a free trial of the EMS software, this EULA agreement will also govern that trial. By
            clicking "accept" or installing and/or using the EMS software, you are confirming your acceptance of the
            Software and agreeing to become bound by the terms of this EULA agreement.
          </ion-card-subtitle>
          <br>
          <ion-card-subtitle>
            If you are entering into this EULA agreement on behalf of a company or other legal entity, you represent
            that you have the authority to bind such entity and its affiliates to these terms and conditions. If you
            do not have such authority or if you do not agree with the terms and conditions of this EULA agreement,
            do
            not install or use the Software, and you must not accept this EULA agreement.
          </ion-card-subtitle>
          <br>
          <ion-card-subtitle>
            This EULA agreement shall apply only to the Software supplied by TUT herewith regardless of whether
            other
            software is referred to or described herein. The terms also apply to any paulphoku updates, supplements,
            Internet-based services, and support services for the Software, unless other terms accompany those items
            on delivery. If so, those terms apply. This EULA was created by EULA Template for EMS.
          </ion-card-subtitle>
          <br>
          <ion-card-title>License Grant:</ion-card-title>
          <ion-card-subtitle>
            TUT hereby grants you a personal, non-transferable, non-exclusive licence to use the EMS software on
            your
            devices in accordance with the terms of this EULA agreement.
          </ion-card-subtitle>
          <br>
          <ion-card-subtitle>
            You are permitted to load the EMS software (for example a PC, laptop, mobile or tablet) under your
            control.
            You are responsible for ensuring your device meets the minimum requirements of the EMS software.
          </ion-card-subtitle>
          <br>
          <ion-card-title>You are not permitted to:</ion-card-title>
          <ion-card-subtitle>
            Edit, alter, modify, adapt, translate or otherwise change the whole or any part of the Software nor
            permit
            the whole or any part of the Software to be combined with or become incorporated in any other software,
            nor
            decompile, disassemble or reverse engineer the Software or attempt to do any such things
            Reproduce, copy, distribute, resell or otherwise use the Software for any commercial purpose
            Allow any third party to use the Software on behalf of or for the benefit of any third party
            Use the Software in any way which breaches any applicable local, national or international law
            use the Software for any purpose that TUT considers is a breach of this EULA agreement
            Intellectual Property and Ownership
            TUT shall at all times retain ownership of the Software as originally downloaded by you and all
            subsequent
            downloads of the Software by you. The Software (and the copyright, and other intellectual property
            rights
            of
            whatever nature in the Software, including any modifications made thereto) are and shall remain the
            property
            of TUT.
          </ion-card-subtitle>
          <br>
          <ion-card-subtitle>
            TUT reserves the right to grant licences to use the Software to third parties.
          </ion-card-subtitle>
          <br>
          <ion-card-title>Termination</ion-card-title>
          <ion-card-subtitle>
            This EULA agreement is effective from the date you first use the Software and shall continue until
            terminated. You may terminate it at any time upon written notice to TUT.
          </ion-card-subtitle>
          <br>
          <ion-card-subtitle>
            It will also terminate immediately if you fail to comply with any term of this EULA agreement. Upon such
            termination, the licenses granted by this EULA agreement will immediately terminate and you agree to
            stop
            all access and use of the Software. The provisions that by their nature continue and survive will
            survive
            any termination of this EULA agreement.
          </ion-card-subtitle>
          <br>
          <ion-card-title>Governing Law</ion-card-title>
          <ion-card-subtitle>
            This EULA agreement, and any dispute arising out of or in connection with this EULA agreement, shall be
            governed by and construed in accordance with the laws of za.
          </ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <app-nav-home></app-nav-home>
</ion-content>

