<ion-content fullscreen>

  <ion-card style="background-color: primary;">
    <ion-item class="card-sucess">
      <ion-label class="txt-center">
        Status : Normal
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngFor="let update of updates" (click)="launch_browser('https://ionicframework.com/')">
    <ion-item>
      <ion-icon slot="start" name="newspaper-outline"></ion-icon>
      <ion-card-title>
        {{update.title}}
      </ion-card-title>
      <ion-card-subtitle slot="end">
        {{update.created_at.substr(0,10)}}
      </ion-card-subtitle>
    </ion-item>
    <ion-card-content>
      <p>
        {{update.msg}}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>