/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.color-primary{color : #795548}
.color-primary-shade{color: #6a4b3f};
.color-primary-tint{background-color: #86665a};

.color-secondary{color: #5d4037};
.color-secondary-shade{color: #523830};
.color-secondary-tint{color: #6d534b};

.color-tertiary{color: #5260ff};
.color-tertiary-shade{color: #4854e0};
.color-tertiary-tint{color: #6370ff};

.color-success{color: #087f23};
.color-success-shade{color: #07701f};
.color-success-tint{background-color: #218c39};

.color-warning{color: #D95525};
.color-warning-shade{color: #bf4b21};
.color-warning-tint{color: #dd663b};

.color-danger{color: #eb445a};
.color-danger-shade{color: #cf3c4f};
.color-danger-tint{color: #ed576b};

.color-dark{color: #222428};
.color-dark-shade{color: #1e2023};
.color-dark-tint{color: #383a3e};

.color-medium{color: #92949c};
.color-medium-shade{color: #808289};
.color-medium-tint{color: #9d9fa6};

.color-light{color: #f4f5f8};
.color-light-shade{color: #d7d8da};
.color-light-tint{color: #f5f6f9};

.txt-center{
text-align: center;
}

ion-icon{
    font-size: 25px;
    @extend .color-primary;
}
ion-card-title{
    @extend .color-primary;
}
ion-title{
    @extend .color-primary;
}
.parent {
    position: relative;
}

card-sucess{
    @extend .color-success-tint;
}
  
.child {
    /* Center vertically */
    position: absolute;
}

ion-button {
    border-radius: 25px;
    background-image: linear-gradient(to right, #795548 , #218c39, #795548);    width : 100%;
    height: 40px;
}
form{
    margin: 30px;
}

ion-slides {
    height: 200px;
}


// Gradient backgrounds
@mixin bg-gradient($parent, $gradient) {
    #{$parent} {
      background: $gradient;
    }
  }

ion-input[type=text] {
    text-align: center; 
    border: 1px solid ;@extend .color-primary;
    border-radius: 5px;
}

ion-input[type=password] {
    text-align: center; 
    border: 1px solid ;@extend .color-primary;
    border-radius: 5px;
}

ion-textarea{
    height: 300px;
    width: 100%;
    border: 1px solid ;@extend .color-primary;
    border-radius: 5px;
}