<ion-header>
  <ion-toolbar>
    <ion-item lines="none" >
      <ion-title >{{header}}</ion-title>
      <ion-icon (click)='presentOptions()' slot='end' name="options-outline"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="updates" (click)='set_selected_tab(1)'>
        <ion-icon name="{{tab_1[0]}}"></ion-icon>
        <ion-label>Updates</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="account" (click)='set_selected_tab(2)'>
        <ion-icon name="{{tab_2[0]}}" color='{{color}}'></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="support" (click)='set_selected_tab(3)'>
        <ion-icon name="{{tab_3[0]}}"></ion-icon>
        <ion-label>Support</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about" (click)='set_selected_tab(4)'>
        <ion-icon name="{{tab_4[0]}}"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>