<ion-footer class="parent">
  <ion-toolbar>
    <ion-item slot="start" lines='none'>
      <ion-icon routerLink="/login" name="chevron-back-outline"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-footer>

<ion-content>
  <ion-grid>
    <ion-col>
      <form [formGroup]="regForm" (ngSubmit)="register()">
        <ion-label>Enter Email :</ion-label>
        <ion-input formControlName="email" required placeholder="Email" type="text"></ion-input>

        <ion-label>Enter First Name :</ion-label>
        <ion-input formControlName="fname" required placeholder="First Name" type="text"></ion-input>

        <ion-label>Enter Last Name :</ion-label>
        <ion-input formControlName="lname" required placeholder="Last Name" type="text"></ion-input>

        <ion-label>Enter Password :</ion-label>
        <ion-input formControlName="password" required placeholder="Password" type="Password"></ion-input>

        <ion-label>Confirm Password :</ion-label>
        <ion-input formControlName="password1" required placeholder="Password" type="Password"></ion-input>
        <br>
        <ion-button type="submit" color="primary">Register</ion-button>
      </form>
    </ion-col>
  </ion-grid>
</ion-content>