<ion-footer class="parent">
  <ion-toolbar>
    <ion-row >
      <ion-col class="child">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<ion-content>
  <ion-grid>
    <ion-col>
      <form [formGroup]="regForm" (ngSubmit)="register()">
        <ion-label >Enter Email :</ion-label>
        <ion-input formControlName="email" required placeholder="Email" type="text"></ion-input>

        <ion-label >Enter First Name :</ion-label>
        <ion-input formControlName="fname" required placeholder="First Name" type="text"></ion-input>

        <ion-label >Enter Last Name :</ion-label>
        <ion-input formControlName="lname" required placeholder="Last Name" type="text"></ion-input>

        <ion-label>Enter Password :</ion-label>
        <ion-input formControlName="password" required placeholder="Password" type="Password"></ion-input>

        <ion-label>Confirm Password :</ion-label>
        <ion-input formControlName="password1" required placeholder="Password" type="Password"></ion-input>

        <ion-button type="submit" color="primary">Login</ion-button>
      </form>
    </ion-col>
  </ion-grid>
</ion-content>